:root {
  --primary-color: #3498db;
  --text-color: #333;
  --navbar-height: 60px;
  --navbar-width: 80%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-image: url('../assets/img/bg-imgage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: var(--navbar-width);
  height: var(--navbar-height);
  background-color: rgba(255, 255, 255, 0.8); /* Sedikit transparan */
  backdrop-filter: blur(5px); /* Efek blur untuk latar belakang */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
  border-radius: 53px;
}
